<!DOCTYPE html>
<html>
<head>
  <title>AuthApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class='container'>
    <% if current_user %>
    <%= "#{current_user.name} さん" if current_user %>
    <%= link_to 'signout', session_path(id: current_user), method: :delete %>
    <% else %>
    <%= link_to 'signin', new_session_path %>
    <%= link_to 'signup', new_user_path %>
    <% end %>
    </div>
  </header>

  <div class='container'>
  <%= yield %>
  </div>

</body>
</html>
